@charset "UTF-8";
main .sectionmain-laliga .seccion-equipos .equipos, main .sectionmain-laliga .seccion-equipos, main .sectionmain-laliga .secciontitulos, main .sectionmain-laliga .equipos-españoles .equipo-español, main .sectionmain-laliga .equipos-españoles, main .sectionmain-laliga .seccion-equipos-ganadores-internacional, main .sectionmain-laliga .div-champions-madrid, main .sectionmain-laliga .titulo-p-paraque-laliga, main .sectionmain-seriea .seccion-equipos .equipos, main .sectionmain-seriea .seccion-equipos, main .sectionmain-seriea .secciontitulos, main .sectionmain-seriea .titulo-ganados-seriea, main .sectionmain-seriea .titulo-p-general-seriea .para-que-seriea, main .sectionmain-seriea .titulo-p-general-seriea, main .sectionmain-copadelaliga .seccion-equipos .grupo-b, main .sectionmain-copadelaliga .seccion-equipos .equipos, main .sectionmain-copadelaliga .seccion-equipos, main .sectionmain-copadelaliga .secciontitulos, main .sectionmain-copadelaliga .goleadores-historicos-lfp .titulo-parrafo-lfp, main .sectionmain-copadelaliga .goleadores-historicos-lfp, main .sectionmain-copadelaliga .titulos-goleadores-historicos-lfp, main .sectionmain-copadelaliga .video-copadelaliga, main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier, main .sectionmain-premierleague .seccion-equipos-premierleague, main .sectionmain-premierleague .h1-premierleague-anual, main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier, main .sectionmain-premierleague .mejores-goleadores-premier, main .sectionmain-premierleague .premierleague-para-que, footer .footer .footer-social .footer-social-link, footer .footer .footer-social, footer .footer .footer-icon, footer .footer .footer-copyright, main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-messi,
main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-mbappe,
main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-haaland, main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos, main .seccion-4-quien-deberia .seccion-4-foto-p, main .seccion-4-quien-deberia .seccion-4-h2, main .seccion-4-quien-deberia, main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion, main .seccion-3-cartas .div-3-mejores-ventas, main .seccion-3-cartas .seccion-3-h2, main .seccion-2-mejores-goleadores .seccion-2-h2, main .seccion-2-mejores-goleadores {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .seccion-4-quien-deberia .seccion-4-h2, main .seccion-3-cartas .seccion-3-h2, main .seccion-2-mejores-goleadores .seccion-2-h2 {
  padding-top: 100px;
  font-size: 50px;
}

.torneos-ganados-seriea .caja-seriea:nth-child(1) {
  width: 11.6%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-8.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(105, 153, 241);
  width: 20%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(2) {
  width: 23.2%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-7.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(161, 157, 157);
  width: 35%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(3) {
  width: 34.8%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-6.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(83, 83, 240);
  width: 35%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(4) {
  width: 46.4%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-5.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(128, 0, 0);
  width: 35%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(5) {
  width: 58%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-4.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(239, 46, 46);
  width: 40%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(6) {
  width: 69.6%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-3.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(6, 6, 245);
  width: 70.2%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(7) {
  width: 81.2%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-2.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(114, 10, 10);
  width: 70.2%;
}

.torneos-ganados-seriea .caja-seriea:nth-child(8) {
  width: 92.8%;
  height: 70px;
  background-image: url("../img/maximos-ganadores-seriea/imagen-1.webp");
  background-size: cover;
  background-position: center;
  z-index: 1;
  background-color: rgb(80, 80, 80);
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: Designer;
  src: url(../font/Designer.otf);
}
@font-face {
  font-family: coolvetica rg;
  src: url(../font/coolvetica\ rg.otf);
}
@font-face {
  font-family: Forque;
  src: url(../font/Forque.ttf);
}
header .custom-header {
  background-color: #4a8c9c;
}
header .custom-header .logo {
  padding-left: 20px;
  height: 80px;
}
header .custom-header .menu .nav-link { /*MENU DE NAVEGACION*/
  color: black;
  font-size: 20px;
  margin-left: 30px;
  font-family: coolvetica rg;
}
header .custom-header .menu .nav-link:hover {
  color: rgb(207, 130, 14);
}

main {
  /*SECCION PARA QUE VA A SER LA PAGINA*/
}
main .seccion-1-para-que {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #cdffff;
}
main .seccion-1-para-que .seccion-1-h1-p {
  flex-direction: column;
  text-align: center;
  padding-top: 30px;
}
main .seccion-1-para-que .seccion-1-h1-p .seccion-1-titulo {
  color: rgb(0, 0, 0);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
main .seccion-1-para-que .seccion-1-h1-p .seccion-1-parrafo {
  width: 890px;
  font-size: 20px;
  padding-top: 10px;
  text-align: justify;
  font-weight: bold;
}
main .seccion-1-para-que .seccion-1-h1-p .seccion-1-foto {
  height: 600px;
}
main .seccion-2-mejores-goleadores {
  background-color: #cdffff;
  flex-direction: column;
  text-align: center;
}
main .seccion-2-mejores-goleadores .seccion-2-h2 {
  padding-bottom: 10px;
  font-family: Forque;
  color: rgb(0, 0, 0);
}
main .seccion-2-mejores-goleadores .cristiano-foto,
main .seccion-2-mejores-goleadores .messi-foto,
main .seccion-2-mejores-goleadores .bican-foto,
main .seccion-2-mejores-goleadores .pele-foto,
main .seccion-2-mejores-goleadores .romario-foto,
main .seccion-2-mejores-goleadores .muller-foto,
main .seccion-2-mejores-goleadores .puskas-foto,
main .seccion-2-mejores-goleadores .jones-foto,
main .seccion-2-mejores-goleadores .lewan-foto,
main .seccion-2-mejores-goleadores .eusebio-foto {
  height: 710px;
  border-radius: 20px;
}
main .seccion-3-cartas .seccion-3-h2 {
  font-family: Forque;
  margin: auto;
  background-color: #cdffff;
  color: rgb(0, 0, 0);
}
main .seccion-3-cartas .div-3-mejores-ventas {
  background-color: #cdffff;
  text-align: center;
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion {
  flex-wrap: wrap;
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas {
  width: 175px;
  height: auto;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas:hover .texto-ventas {
  opacity: 1;
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas .foto-ventas {
  border-radius: 6px;
  max-width: 100%;
  height: 100%;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas:hover {
  transform: scale(1.05);
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas:hover .foto-ventas {
  filter: blur(4px);
}
main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas .texto-ventas {
  position: absolute;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
main .seccion-4-quien-deberia {
  background-color: #cdffff;
  flex-direction: column;
}
main .seccion-4-quien-deberia .seccion-4-h2 {
  font-family: Forque;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: auto;
  padding-bottom: 10px;
  background-color: #cdffff;
}
main .seccion-4-quien-deberia .seccion-4-foto-p {
  flex-direction: column;
}
main .seccion-4-quien-deberia .seccion-4-foto-p .seccion-4-foto {
  width: 90%;
  display: flex;
}
main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos {
  flex-direction: column;
}
main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-messi,
main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-mbappe,
main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-haaland {
  font-size: 23px;
  font-family: coolvetica rg;
  flex-direction: column;
  padding-left: 8px;
  padding-top: 40px;
  text-align: justify;
  width: 970px;
}

footer .footer {
  background-color: rgb(50, 49, 49);
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
footer .footer .footer-copyright {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 0px;
}
footer .footer .footer-icon {
  margin: 0px;
  padding: 0px;
}
footer .footer .footer-icon .footer-icon-img {
  width: 80px;
}
footer .footer .footer-social { /* SECCION LINKS DE REDES*/
  margin: 0px;
  padding: 0px;
}
footer .footer .footer-social .footer-social-link {
  margin: 0px;
  margin-left: 60px;
  width: 40px;
}
footer .footer .footer-social .footer-social-link .bi-facebook {
  width: 30px;
  height: 30px;
}
footer .footer .footer-social .footer-social-link .bi-instagram {
  width: 30px;
  height: 30px;
}
footer .footer .footer-social .footer-social-link .bi-twitter {
  width: 30px;
  height: 30px;
}

main .sectionmain-premierleague {
  background-image: url(../img/backgrounds/background-premier-league.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
main .sectionmain-premierleague .premierleague-para-que {
  flex-direction: column;
}
main .sectionmain-premierleague .premierleague-para-que .titulo-paraque-premier {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.7px white;
  padding-top: 20px;
  color: black;
  font-size: 70px;
}
main .sectionmain-premierleague .premierleague-para-que .parrafo-paraque-premier {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 50%;
  font-weight: 800;
  padding-top: 20px;
}
main .sectionmain-premierleague .premierleague-para-que .titulo-videopremierleague {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.7px white;
  padding-top: 20px;
  color: black;
  font-size: 40px;
}
main .sectionmain-premierleague .premierleague-para-que .video-yt-premier {
  height: 500px;
  width: 55%;
  border-radius: 60px;
  padding-bottom: 20px;
}
main .sectionmain-premierleague .goleadores-premier-h1 {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 30px;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px white;
}
main .sectionmain-premierleague .mejores-goleadores-premier {
  text-align: center;
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores .cartas-goleadores {
  width: 220px;
  height: auto;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores .cartas-goleadores:hover .texto-goleadores {
  opacity: 1;
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores .cartas-goleadores .foto-goleadores {
  border-radius: 50px;
  max-width: 100%;
  height: 100%;
  filter: blur(0);
  transition: filter 0.3s ease-in-out;
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores .cartas-goleadores:hover {
  transform: scale(1.05);
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores .cartas-goleadores:hover .foto-goleadores {
  filter: blur(4px);
}
main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores .cartas-goleadores .texto-goleadores {
  position: absolute;
  font-weight: 800;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
main .sectionmain-premierleague .h1-premierleague-anual {
  padding-top: 30px;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px white;
}
main .sectionmain-premierleague .seccion-equipos-premierleague {
  padding-top: 20px;
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier {
  width: 80%;
  flex-wrap: wrap;
  gap: 50px;
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier img {
  width: 100%;
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo {
  width: 300px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 20px;
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-city {
  background-color: rgb(0, 255, 255);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-totten {
  background-color: rgb(169, 168, 168);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-liverpool {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-westham {
  background-color: rgb(112, 2, 112);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-arsenal {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-brighton {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-crys {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-brent {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-notti {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-aston {
  background-color: rgb(73, 33, 28);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-manu {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-chelsea {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-full {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-new {
  background-color: rgb(169, 168, 168);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-wolves {
  background-color: rgb(173, 128, 15);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-bourn {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-sheff {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-everton {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-luton {
  background-color: rgb(31, 80, 31);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .imagen-equipo .logos-equipos-burnley {
  background-color: rgb(7, 110, 110);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .texto-equipo {
  margin-top: 10px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .texto-equipo .ganados-hover:hover {
  color: rgb(9, 235, 9);
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .texto-equipo .empatados-hover:hover {
  color: orange;
}
main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo .texto-equipo .perdidos-hover:hover {
  color: red;
}

main .sectionmain-copadelaliga {
  background-image: url(../img/backgrounds/background-copadelaliga.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
main .sectionmain-copadelaliga .video-copadelaliga {
  flex-direction: column;
}
main .sectionmain-copadelaliga .video-copadelaliga .titulo-copadelaliga {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.7px white;
  padding-top: 20px;
  color: black;
  font-size: 70px;
}
main .sectionmain-copadelaliga .video-copadelaliga .parrafo-videocopadelaliga {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 50%;
  font-weight: 800;
  padding-top: 20px;
}
main .sectionmain-copadelaliga .video-copadelaliga .video-yt-copadelaliga {
  height: 600px;
  width: 70%;
  border-radius: 60px;
  padding-bottom: 20px;
}
main .sectionmain-copadelaliga .titulos-goleadores-historicos-lfp {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 20px;
  padding-bottom: 30px;
  -webkit-text-stroke: 1px white;
}
main .sectionmain-copadelaliga .goleadores-historicos-lfp .titulo-parrafo-lfp {
  flex-direction: column;
  width: 50%;
}
main .sectionmain-copadelaliga .goleadores-historicos-lfp .titulo-parrafo-lfp .nombre-goleadores-historicos-lfp {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
main .sectionmain-copadelaliga .goleadores-historicos-lfp .titulo-parrafo-lfp .parrafo-goleadores-historicos-lfp {
  text-align: center;
  width: 75%;
  font-weight: 800;
  padding-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: justify;
}
main .sectionmain-copadelaliga .goleadores-historicos-lfp .fotos-goleadores-historicos-lfp {
  width: 30%;
  padding-bottom: 30px;
}
main .sectionmain-copadelaliga .secciontitulos {
  flex-direction: column;
  padding-top: 30px;
  -webkit-text-stroke: 1px white;
}
main .sectionmain-copadelaliga .secciontitulos .h2-copadelaliga {
  font-size: 40px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px white;
  padding-bottom: 30px;
}
main .sectionmain-copadelaliga .secciontitulos .h3-copadelaliga {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}
main .sectionmain-copadelaliga .seccion-equipos {
  flex-wrap: wrap;
  padding-top: 20px;
}
main .sectionmain-copadelaliga .seccion-equipos .equipos {
  width: 100%;
  flex-wrap: wrap;
}
main .sectionmain-copadelaliga .seccion-equipos .equipos img {
  width: 100%;
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo {
  width: 400px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 20px;
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-talleres {
  background-color: rgb(169, 168, 168);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-huracan {
  background-color: rgb(253, 138, 138);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-banfield {
  background-color: rgb(59, 143, 59);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-colon {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-velez {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-indep {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-argj {
  background-color: rgb(253, 138, 138);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-instituto {
  background-color: rgb(247, 197, 197);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-rosario {
  background-color: rgb(255, 255, 70);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-river {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-tucuman {
  background-color: rgb(156, 255, 255);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-sarandi {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-barracas {
  background-color: rgb(253, 138, 138);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-gim {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-newe {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-sarmiento {
  background-color: rgb(59, 143, 59);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-racing {
  background-color: rgb(0, 255, 255);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-union {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-belgr {
  background-color: rgb(156, 255, 255);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-godoy {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-sanlo {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-boca {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-defensa {
  background-color: rgb(59, 143, 59);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-ccordoba {
  background-color: rgb(30, 30, 76);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-tigre {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-lanus {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-platense {
  background-color: rgb(88, 53, 0);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-est {
  background-color: rgb(247, 197, 197);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .texto-equipo {
  margin-top: 10px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .texto-equipo .ganados-hover:hover {
  color: rgb(9, 235, 9);
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .texto-equipo .empatados-hover:hover {
  color: orange;
}
main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo .texto-equipo .perdidos-hover:hover {
  color: red;
}
main .sectionmain-copadelaliga .seccion-equipos .grupo-b .h2-grupob {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px white;
}

main .sectionmain-seriea {
  background-image: url(../img/backgrounds/background-serie-a.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
main .sectionmain-seriea .titulo-p-general-seriea {
  flex-direction: column;
}
main .sectionmain-seriea .titulo-p-general-seriea .titulo-seriea-general {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.7px white;
  padding-top: 20px;
  color: black;
  font-size: 70px;
}
main .sectionmain-seriea .titulo-p-general-seriea .para-que-seriea {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 30%;
  margin: 20px;
  font-weight: bold;
}
main .sectionmain-seriea .titulo-ganados-seriea {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 40px;
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px white;
}
main .sectionmain-seriea .foto-seriea-titulo {
  width: 30%;
}
main .sectionmain-seriea .torneos-ganados-seriea {
  padding-top: 20px;
  padding-left: 120px;
  display: flex;
  flex-direction: column-reverse;
}
main .sectionmain-seriea .torneos-ganados-seriea .caja-seriea {
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 30px rgb(0, 0, 0);
  margin: 5px;
  position: relative;
  overflow: hidden;
}
main .sectionmain-seriea .torneos-ganados-seriea .caja-seriea .equipo-seriea-ganados {
  -webkit-text-stroke: 0px rgb(0, 0, 0);
  color: white;
  display: flex;
  font-size: 20px;
  width: 100%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  flex-direction: column;
  padding-left: 10px;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease, filter 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.601);
  filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  justify-content: center;
}
main .sectionmain-seriea .torneos-ganados-seriea .caja-seriea:hover .equipo-seriea-ganados {
  opacity: 1;
  filter: blur(0);
}
main .sectionmain-seriea .secciontitulos {
  padding-top: 30px;
}
main .sectionmain-seriea .secciontitulos .h2-seriea {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 1px white;
}
main .sectionmain-seriea .seccion-equipos {
  padding-top: 20px;
}
main .sectionmain-seriea .seccion-equipos .equipos {
  width: 100%;
  flex-wrap: wrap;
}
main .sectionmain-seriea .seccion-equipos .equipos img {
  width: 100%;
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo {
  width: 400px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 20px;
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-inter {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-milan {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-juventus {
  background-color: rgb(169, 168, 168);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-lecce {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-atalanta {
  background-color: rgb(156, 255, 255);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-napoli {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-verona {
  background-color: rgb(173, 128, 15);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-fioren {
  background-color: rgb(112, 2, 112);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-bolonia {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-frosino {
  background-color: rgb(30, 30, 76);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-torino {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-lazio {
  background-color: rgb(0, 255, 255);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-sassuo {
  background-color: rgb(31, 80, 31);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-genoa {
  background-color: rgb(253, 138, 138);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-monza {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-salerni {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-udinese {
  background-color: rgb(88, 53, 0);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-roma {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-caglia {
  background-color: rgb(30, 30, 76);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-empoli {
  background-color: rgb(0, 255, 255);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .texto-equipo {
  margin-top: 10px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .texto-equipo .ganados-hover:hover {
  color: rgb(9, 235, 9);
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .texto-equipo .empatados-hover:hover {
  color: orange;
}
main .sectionmain-seriea .seccion-equipos .equipos .equipo .texto-equipo .perdidos-hover:hover {
  color: red;
}

main .sectionmain-laliga {
  background-image: url(../img/backgrounds/background-laliga.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  /*SECCION PARA QUE VA A SER LA PAGINA*/
}
main .sectionmain-laliga .titulo-p-paraque-laliga {
  flex-direction: column;
}
main .sectionmain-laliga .titulo-p-paraque-laliga .titulo-laliga {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.7px white;
  padding-top: 20px;
  color: black;
  font-size: 70px;
}
main .sectionmain-laliga .titulo-p-paraque-laliga .p-laliga {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
  font-weight: 800;
  color: black;
}
main .sectionmain-laliga .div-champions-madrid {
  flex-direction: column;
}
main .sectionmain-laliga .div-champions-madrid .titulo-champions-madrid {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  -webkit-text-stroke: 0.7px white;
  padding-top: 50px;
  font-size: 40px;
}
main .sectionmain-laliga .div-champions-madrid .video-champions-madrid {
  width: 78%;
  height: 700px;
  box-shadow: 0 0 20px black;
  border-radius: 30px;
}
main .sectionmain-laliga .seccion-equipos-ganadores-internacional .titulo-equipos-españoles {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  padding-top: 60px;
  -webkit-text-stroke: 0.7px white;
  padding-bottom: 20px;
  font-size: 40px;
}
main .sectionmain-laliga .equipos-españoles {
  gap: 20px;
}
main .sectionmain-laliga .equipos-españoles .grilla-española {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
main .sectionmain-laliga .equipos-españoles .equipo-español {
  gap: 110px;
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas {
  position: relative;
  width: 252px;
  transition: all 0.3s ease;
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas .equipo-hover-españoles:first-child {
  box-shadow: 0 60px 60px -60px rgb(22, 22, 109);
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas .jugador-hover-españoles {
  position: absolute;
  width: 210px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(25%);
  transition: 0.3s ease;
  opacity: 0;
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas:hover {
  transform: perspective(250px) rotateX(2deg) translateY(-5%) translateZ(0);
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas:hover .jugador-hover-españoles {
  opacity: 1;
  transform: translateY(10%);
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to bottom, transparent 10%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 95%);
  opacity: 0;
  transition: all 0.3s ease;
}
main .sectionmain-laliga .equipos-españoles .equipo-español .dos-fotos-españolas:hover::before {
  opacity: 1;
}
main .sectionmain-laliga .secciontitulos {
  padding-top: 30px;
}
main .sectionmain-laliga .secciontitulos .h2-laliga {
  font-size: 60px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.7px white;
  padding-top: 100px;
}
main .sectionmain-laliga .seccion-equipos {
  padding-top: 20px;
}
main .sectionmain-laliga .seccion-equipos .equipos {
  width: 100%;
  flex-wrap: wrap;
  gap: 130px;
}
main .sectionmain-laliga .seccion-equipos .equipos img {
  width: 100%;
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo {
  width: 400px;
  box-shadow: 0 0 20px rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  margin: 20px;
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-madrid {
  background-color: rgb(169, 168, 168);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-girona {
  background-color: rgb(255, 255, 70);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-barcelona {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-atlmadrid {
  background-color: rgb(247, 197, 197);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-atlbilbao {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-cadiz {
  background-color: rgb(255, 255, 70);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-betis {
  background-color: rgb(59, 143, 59);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-sociedad {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-osasuna {
  background-color: rgb(95, 21, 21);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-alaves {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-valencia {
  background-color: rgb(255, 166, 0);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-rayo {
  background-color: rgb(253, 138, 138);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-celta {
  background-color: rgb(66, 66, 181);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-getafe {
  background-color: rgb(0, 0, 255);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-villarreal {
  background-color: rgb(255, 255, 70);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-granada {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-mallo {
  background-color: rgb(173, 128, 15);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-palmas {
  background-color: rgb(255, 255, 70);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-almeria {
  background-color: rgb(253, 138, 138);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .imagen-equipo .logos-equipos-sevilla {
  background-color: rgb(255, 1, 1);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .texto-equipo {
  margin-top: 10px;
  text-align: center;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .texto-equipo .ganados-hover:hover {
  color: rgb(9, 235, 9);
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .texto-equipo .empatados-hover:hover {
  color: orange;
}
main .sectionmain-laliga .seccion-equipos .equipos .equipo .texto-equipo .perdidos-hover:hover {
  color: red;
}

/* RESPONSIVE DE CELULAR */
@media (min-width: 320px) and (max-width: 480px) {
  main {
    /*PREMIER LEAGUE MOBILE*/
    /*COPA DE LA LIGA*/
    /* SERIE A */
    /* LA LIGA */
  }
  main .seccion-1-para-que {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cdffff;
    flex-direction: column;
  }
  main .seccion-1-para-que .seccion-1-h1-p {
    display: flex;
    justify-content: center;
  }
  main .seccion-1-para-que .seccion-1-h1-p .seccion-1-parrafo {
    padding-top: 10px;
    width: 90%;
    margin-left: 20px;
    font-size: 15px;
  }
  main .seccion-1-para-que .seccion-1-h1-p .seccion-1-foto {
    height: 350px;
  }
  main .seccion-2-mejores-goleadores {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  main .seccion-2-mejores-goleadores .seccion-2-h2 {
    font-size: 20px;
    padding-top: 20px;
  }
  main .seccion-2-mejores-goleadores .cristiano-foto, main .seccion-2-mejores-goleadores .messi-foto, main .seccion-2-mejores-goleadores .bican-foto, main .seccion-2-mejores-goleadores .pele-foto, main .seccion-2-mejores-goleadores .romario-foto, main .seccion-2-mejores-goleadores .muller-foto, main .seccion-2-mejores-goleadores .puskas-foto, main .seccion-2-mejores-goleadores .jones-foto, main .seccion-2-mejores-goleadores .lewan-foto, main .seccion-2-mejores-goleadores .eusebio-foto {
    height: 280px;
  }
  main .seccion-3-cartas .seccion-3-h2 {
    font-size: 20px;
    padding-top: 30px;
  }
  main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
  }
  main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas {
    display: flex;
    width: 90%;
  }
  main .seccion-3-cartas .div-3-mejores-ventas .cartas-alineacion .grilla .cartas-ventas .texto-ventas {
    font-size: 20px;
    padding: 0px;
  }
  main .seccion-4-quien-deberia {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .seccion-4-quien-deberia .seccion-4-h2 {
    font-size: 26px;
  }
  main .seccion-4-quien-deberia .seccion-4-foto-p {
    display: flex;
    flex-direction: column;
  }
  main .seccion-4-quien-deberia .seccion-4-foto-p .seccion-4-foto {
    max-width: 100%;
    height: 80%;
    padding: 10px 0;
    border-radius: 15px;
  }
  main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos {
    display: flex;
    flex-direction: column;
  }
  main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-messi,
  main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-mbappe,
  main .seccion-4-quien-deberia .seccion-4-foto-p .columnas-parrafos .seccion-4-p-haaland {
    -moz-column-count: 1;
         column-count: 1;
    padding-top: 20px;
    justify-content: center;
    font-size: 19px;
    text-align: justify;
    width: 350px;
  }
  main .sectionmain-premierleague .premierleague-para-que {
    text-align: center;
  }
  main .sectionmain-premierleague .premierleague-para-que .titulo-paraque-premier {
    font-size: 50px;
  }
  main .sectionmain-premierleague .premierleague-para-que .parrafo-paraque-premier {
    width: 80%;
  }
  main .sectionmain-premierleague .premierleague-para-que .titulo-videopremierleague {
    font-size: 25px;
  }
  main .sectionmain-premierleague .premierleague-para-que .video-yt-premier {
    width: 320px;
    height: 300px;
    border-radius: 40px;
  }
  main .sectionmain-premierleague .goleadores-premier-h1 {
    text-align: center;
    padding-top: 60px;
  }
  main .sectionmain-premierleague .mejores-goleadores-premier .cartas-goleadores-premier .grid-goleadores {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
  }
  main .sectionmain-premierleague .h1-premierleague-anual {
    text-align: center;
    padding-top: 100px;
  }
  main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier {
    display: flex;
    justify-content: center;
  }
  main .sectionmain-premierleague .seccion-equipos-premierleague .equipos-premier .equipo {
    width: 160px;
  }
  main .sectionmain-premierleague .seccion-equipos-premierleague .grilla-premier-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main .sectionmain-copadelaliga .video-copadelaliga .titulo-copadelaliga {
    text-align: center;
    font-size: 40px;
  }
  main .sectionmain-copadelaliga .video-copadelaliga .parrafo-videocopadelaliga {
    width: 90%;
  }
  main .sectionmain-copadelaliga .video-copadelaliga .video-yt-copadelaliga {
    width: 90%;
    height: 350px;
  }
  main .sectionmain-copadelaliga .titulos-goleadores-historicos-lfp {
    text-align: center;
  }
  main .sectionmain-copadelaliga .goleadores-historicos-lfp {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  main .sectionmain-copadelaliga .goleadores-historicos-lfp .titulo-parrafo-lfp {
    width: 100%;
  }
  main .sectionmain-copadelaliga .goleadores-historicos-lfp .titulo-parrafo-lfp .nombre-goleadores-historicos-lfp {
    font-size: 30px;
  }
  main .sectionmain-copadelaliga .goleadores-historicos-lfp .fotos-goleadores-historicos-lfp {
    width: 90%;
  }
  main .sectionmain-copadelaliga .secciontitulos .h2-copadelaliga {
    text-align: center;
    font-size: 30px;
  }
  main .sectionmain-copadelaliga .seccion-equipos .grilla-laliga-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main .sectionmain-copadelaliga .seccion-equipos .equipos .equipo {
    width: 160px;
  }
  main .sectionmain-seriea .titulo-p-general-seriea .para-que-seriea {
    width: 90%;
    text-align: justify;
  }
  main .sectionmain-seriea .titulo-p-general-seriea .foto-seriea-titulo {
    width: 300px;
  }
  main .sectionmain-seriea .titulo-ganados-seriea {
    text-align: center;
  }
  main .sectionmain-seriea .torneos-ganados-seriea {
    padding-left: 10px;
  }
  main .sectionmain-seriea .secciontitulos .h2-seriea {
    text-align: center;
    font-size: 38px;
    padding-top: 30px;
  }
  main .sectionmain-seriea .seccion-equipos .equipos .equipo {
    width: 40%;
  }
  main .sectionmain-laliga .titulo-p-paraque-laliga .titulo-laliga {
    font-size: 50px;
  }
  main .sectionmain-laliga .titulo-p-paraque-laliga .p-laliga {
    width: 90%;
    text-align: justify;
  }
  main .sectionmain-laliga .div-champions-madrid .titulo-champions-madrid {
    text-align: center;
    padding-bottom: 20px;
    font-size: 30px;
  }
  main .sectionmain-laliga .div-champions-madrid .video-champions-madrid {
    width: 90%;
    height: 300px;
  }
  main .sectionmain-laliga .seccion-equipos-ganadores-internacional .titulo-equipos-españoles {
    text-align: center;
    font-size: 30px;
  }
  main .sectionmain-laliga .equipos-españoles .grilla-española {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main .sectionmain-laliga .equipos-españoles .grilla-española .dos-fotos-españolas {
    padding-bottom: 15px;
  }
  main .sectionmain-laliga .secciontitulos .h2-laliga {
    text-align: center;
    font-size: 60px;
  }
  main .sectionmain-laliga .seccion-equipos .grilla-laliga-mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  main .sectionmain-laliga .seccion-equipos .equipos .equipo {
    width: 160px;
  }
  /* FOOTER*/
  footer .footer {
    background-color: rgb(50, 49, 49);
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }
  footer .footer .footer-copyright {
    color: rgb(255, 255, 255);
    font-size: 10px;
    margin: 0px;
  }
  footer .footer .footer-icon {
    margin: 0px;
    padding: 0px;
  }
  footer .footer .footer-icon .footer-icon-img {
    width: 50px;
  }
  footer .footer .footer-social {
    margin: 0px;
    padding: 0px;
  }
  footer .footer .footer-social .footer-social-link {
    margin: 0px;
    margin-left: 10px;
    width: 50px;
  }
  footer .footer .footer-social .footer-social-link .bi-facebook {
    width: 15px;
    height: 15px;
  }
  footer .footer .footer-social .footer-social-link .bi-instagram {
    width: 15px;
    height: 15px;
  }
  footer .footer .footer-social .footer-social-link .bi-twitter {
    width: 15px;
    height: 15px;
  }
}/*# sourceMappingURL=style.css.map */