/* RESPONSIVE DE CELULAR */
@media (min-width: 320px) and (max-width: 480px) {
  
  main{
    .seccion-1-para-que {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #cdffff;
      flex-direction: column;
      .seccion-1-h1-p {
        display: flex;
        justify-content: center;
        .seccion-1-parrafo {
          padding-top: 10px;
          width: 90%;
          margin-left: 20px;
          font-size: 15px;
        }
        .seccion-1-foto {
          height: 350px;
        }
      }
    }
    .seccion-2-mejores-goleadores {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .seccion-2-h2 {
        font-size: 20px;
      }
      .cristiano-foto, .messi-foto, .bican-foto, .pele-foto, .romario-foto, .muller-foto, .puskas-foto, .jones-foto, .lewan-foto, .eusebio-foto {
        height: 280px;
      }
    }
    .seccion-3-cartas{
      .seccion-3-h2 {
        font-size: 20px;
        padding: 10px;
      }
      .div-3-mejores-ventas{
        .cartas-alineacion{
          .grilla {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, auto);
            gap: 10px;
            .cartas-ventas {
              display: flex;
              width: 90%;
              .texto-ventas {
                font-size: 20px;
                padding: 0px;
              }
            }
          }
        }
      }
    }
    .seccion-4-quien-deberia {
      display: flex;
      justify-content: center;
      align-items: center;
      .seccion-4-h2 {
        font-size: 20px;
      }
      .seccion-4-foto-p {
        display: flex;
        flex-direction: column;
        .seccion-4-foto {
          max-width: 100%;
          height: 80%;
          padding: 10px 0;
          border-radius: 15px;
        }
        .columnas-parrafos {
          display: flex;
          flex-direction: column;
          .seccion-4-p-messi,
          .seccion-4-p-mbappe,
          .seccion-4-p-haaland {
            column-count: 1;
            padding-top: 20px;
            justify-content: center;
            font-size: 14px;
            text-align: justify;
            width: 350px;
          }
        }
      }
    }

    /*PREMIER LEAGUE MOBILE*/

    .sectionmain-premierleague {
      .video-premierleague {
        text-align: center;
        .parrafo-videopremierleague {
          width: 80%;
        }
        .video-yt-premier {
          width: 320px;
          height: 300px;
          border-radius: 40px;
        }
      }
      .goleadores-premier-h1 {
        text-align: center;
      }
      .mejores-goleadores-premier {
        .cartas-goleadores-premier {
          .grid-goleadores {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 10px;
          }
        }
      }
      .h1-premierleague-anual {
        text-align: center;
        padding-top: 100px;
      }
    }

    /*COPA DE LA LIGA*/

    .sectionmain-copadelaliga{
      .video-copadelaliga {
        .titulo-copadelaliga {
          text-align: center;
          font-size: 40px;
        }
        .parrafo-videocopadelaliga {
          width: 90%;
        }
        .video-yt-copadelaliga {
          width: 90%;
          height: 350px;
        }
      }
      .titulos-goleadores-historicos-lfp {
        text-align: center;
      }
      .goleadores-historicos-lfp {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .titulo-parrafo-lfp {
          width: 100%;
          .nombre-goleadores-historicos-lfp {
            font-size: 30px;
          }
        }
        .fotos-goleadores-historicos-lfp {
          width: 90%;
        }
      }
      .secciontitulos {
        .h2-copadelaliga {
          text-align: center;
          font-size: 30px;
        }
      }
    }

    /* SERIE A */

    .sectionmain-seriea{
      .titulo-p-general-seriea {
          .para-que-seriea {
            width: 90%;
            text-align: justify;
          }
          .foto-seriea-titulo {
            width: 300px;
          }
        }
        .titulo-ganados-seriea {
          text-align: center;
        }
        .torneos-ganados-seriea {
          padding-left: 10px;
        }
        .secciontitulos {
          .h1-seriea {
            text-align: center;
            font-size: 38px;
            padding-top: 30px;
          }
        }
      }

      /* LA LIGA */

    .sectionmain-laliga {
      .titulo-p-paraque-laliga {
        .titulo-laliga {
          font-size: 50px;
        }
        .p-laliga {
          width: 90%;
          text-align: justify;
        }
      }
      .div-champions-madrid {
        .titulo-champions-madrid {
          text-align: center;
          padding-bottom: 20px;
          font-size: 30px;
        }
        .video-champions-madrid {
          width: 90%;
          height: 300px;
        }
      }
      .seccion-equipos-ganadores-internacional {
        .titulo-equipos-españoles {
          text-align: center;
          font-size: 30px;
        }
      }
      .equipos-españoles {
        .grilla-española {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-column-gap: 0px;
          grid-row-gap: 0px;
          .dos-fotos-españolas {
            padding-bottom: 15px;
          }
        }
      }
      .secciontitulos {
        .h2-laliga {
          text-align: center;
          font-size: 60px;
        }
      }
    }  
  }
  
  
  footer{
    .footer {
      background-color: rgb(50, 49, 49);
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      .footer-copyright {
          color: rgb(255, 255, 255);
          font-size: 10px;
          margin: 0px;
          @extend %flex-center;
      }
      .footer-icon {
          @extend %flex-center;
          margin: 0px;
          padding: 0px;
          .footer-icon-img {
              width: 50px;
          }
      }
      .footer-social {
          margin: 0px;
          padding: 0px;
          @extend %flex-center;
          .footer-social-link {
              @extend %flex-center;
              margin: 0px;
              margin-left: 10px;
              width: 50px;
              .bi-facebook{
                  width: 15px;
                  height: 15px;
              }
              .bi-instagram{
                  width: 15px;
                  height: 15px;
              }
              .bi-twitter{
                  width: 15px;
                  height: 15px;
              }
          }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  
  }