/* RESPONSIVE DE CELULAR */
@media (min-width: 320px) and (max-width: 480px) {
  
  main{
    .seccion-1-para-que {
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: #cdffff;
      flex-direction: column;
      .seccion-1-h1-p {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        .seccion-1-parrafo {
          padding-top: 10px;
          width: 400px;
          font-size: 15px
        }
        .seccion-1-foto {
          height: 350px;
        }
      }
    }
    .seccion-2-mejores-goleadores {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      .cristiano-foto, .messi-foto, .bican-foto, .pele-foto, .romario-foto, .muller-foto, .puskas-foto, .jones-foto, .lewan-foto, .eusebio-foto {
        height: 250px;
      }
    }
    .seccion-3-cartas{
      .seccion-3-h2 {
        font-size: 20px;
        padding: 10px;
      }
      .div-3-mejores-ventas{
        .cartas-alineacion{
          .grilla{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, auto);
            gap: 10px;
            .cartas-ventas {
              width: 90%;
              .texto-ventas {
                font-size: 20px;
                padding: 0px;
              }
            }
          }
        }
      }
    }
    .seccion-4-quien-deberia {
      display: flex;
      justify-content: center;
      align-items: center;
      .seccion-4-h2 {
        font-size: 20px;
      }
      .seccion-4-foto-p {
        display: flex;
        flex-direction: column;
        .seccion-4-foto {
          max-width: 100%;
          height: 80%;
          padding: 10px 0;
        }
        .columnas-parrafos {
          display: flex;
          flex-direction: column;
          .seccion-4-p-messi,
          .seccion-4-p-mbappe,
          .seccion-4-p-haaland {
            column-count: 1;
            padding-top: 20px;
            justify-content: center;
            font-size: 14px;
            text-align: center;
            width: 400px;
          }
        }
      }
    }
    .sectionmain-premierleague{
      .secciontitulos-premierleague{
        .h1-premierleague{
        font-size: 20px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        }
      }
    }
    .sectionmain-copadelaliga{
      .secciontitulos{
        .h1-copadelaliga{
        font-size: 20px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
      }
        .h2-copadelaliga{
          font-size: 20px;
        }
      }
    }
    .sectionmain-seriea{
      .secciontitulos{
        .h1-seriea{
        font-size: 20px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        }
      }
    }
    .sectionmain-laliga{
      .secciontitulos{
        .h1-laliga{
        font-size: 20px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
        text-align: center;
        }
      }
    }
  }
  footer{
    .footer {
      background-color: rgb(50, 49, 49);
      align-items: center;
      padding: 10px;
      justify-content: space-between;
      .footer-copyright {
          color: rgb(255, 255, 255);
          font-size: 10px;
          margin: 0px;
          @extend %flex-center;
      }
      .footer-icon {
          @extend %flex-center;
          margin: 0px;
          padding: 0px;
          .footer-icon-img {
              width: 50px;
          }
      }
      .footer-social {
          margin: 0px;
          padding: 0px;
          @extend %flex-center;
          .footer-social-link {
              @extend %flex-center;
              margin: 0px;
              margin-left: 10px;
              width: 50px;
              .bi-facebook{
                  width: 15px;
                  height: 15px;
              }
              .bi-instagram{
                  width: 15px;
                  height: 15px;
              }
              .bi-twitter{
                  width: 15px;
                  height: 15px;
              }
          }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  
  }