/* RESPONSIVE DE CELULAR */
@media (min-width: 320px) and (max-width: 480px) {
  
  main{
    .seccion-1-para-que {
      display: flex;
      justify-content: center;
      background-color: #cdffff;
      flex-direction: column;
      .seccion-1-h1-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        .seccion-1-parrafo {
          padding-top: 10px;
          width: 400px;
          font-size: 15px
        }
        .seccion-1-foto {
          height: 350px;
        }
      }
    }
    .seccion-2-mejores-goleadores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .cristiano-foto, .messi-foto, .bican-foto, .pele-foto, .romario-foto, .muller-foto, .puskas-foto, .jones-foto, .lewan-foto, .eusebio-foto {
        height: 250px;
      }
    }
    .seccion-3-cartas{
      .seccion-3-h2 {
        font-size: 20px;
        padding: 10px;
      }
      .div-3-mejores-ventas{
        .cartas-alineacion{
          .grilla{
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, auto);
            gap: 10px;
            .cartas-ventas {
              width: 60px;
              .texto-ventas {
                font-size: 9px;
                padding: 0px;
              }
            }
            }
          
        }
      }
    }
    .seccion-4-quien-deberia {
      align-items: center;
      display: flex;
      flex-direction: column;
      .seccion-4-h2 {
        font-size: 20px;
      }
      .seccion-4-foto-p {
        display: flex;
        flex-direction: column;
        .seccion-4-foto {
          max-width: 100%;
          height: 80%;
          padding: 10px 0;
        }
        .columnas-parrafos {
          display: flex;
          flex-direction: column;
          .seccion-4-p-messi,
          .seccion-4-p-mbappe,
          .seccion-4-p-haaland {
            column-count: 1;
            padding-top: 20px;
            justify-content: center;
            font-size: 14px;
            text-align: center;
            width: 400px;
          }
        }
      }
    }
  }
}

  .sectionmain-premierleague{
    .secciontitulos-premierleague{
      .h1-premierleague{
      font-size: 15px;
      display: flex;
      justify-content: center;
      text-align: center;
      }
    }
  }
  
  
    
  
    main section .equipos-copadelaliga {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
  
    main section .equipos-seriea {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
  
    main section .equipos-laliga {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
  
    main section .secciontitulos {
      font-size: 15px;
      display: flex;
      padding-top: 160px;
      justify-content: center;
      text-align: center;
    }
  
  
  @media (min-width: 576px) and (max-width: 991px) {
  
    .seccion-1-para-que {
      display: flex;
      justify-content: center;
      background-color: #cdffff;
      flex-direction: column;
      align-items: center;
    }
  
    .seccion-1-h1-p {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  
    .seccion-1-parrafo {
      width: 100%;
    }
  
    .seccion-1-foto {
      height: auto;
      width: 400px;
      padding-right: 0px;
  
    }
  
    .seccion-2-h2 {
      font-size: 30px;
      padding: 20px;
    }
  
    .seccion-2-mejores-goleadores {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .cristiano-foto,
    .messi-foto,
    .bican-foto,
    .pele-foto,
    .romario-foto,
    .muller-foto,
    .puskas-foto,
    .jones-foto,
    .lewan-foto,
    .eusebio-foto {
      height: 400px;
    }
  
    .seccion-3-h2 {
      font-size: 30px;
      padding: 20px;
    }
  
    .cartas-ventas {
      width: 90px;
    }
  
    .seccion-4-quien-deberia {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  
    .seccion-4-h2 {
      font-size: 30px;
      padding: 20px;
    }
  
    .seccion-4-foto-p {
      display: flex;
      flex-direction: column;
    }
  
    .seccion-4-foto {
      max-width: 100%;
      height: 80%;
      padding: 10px 0;
    }
  
    main .seccion-4-p-messi,
    .seccion-4-p-mbappe,
    .seccion-4-p-haaland {
      column-count: 1;
      padding-top: 20px;
      justify-content: center;
      font-size: 20px;
      text-align: center;
    }
  
  
    main section .columnas-parrafos {
      display: flex;
      flex-direction: column;
    }
  
  }