@import 'generales';
@import'header';
@import'index';
@import'footer';
@import'queries';
@import'premierleague';
@import'copadelaliga';



  
  
  /* TERCERA PAGINA DE LA SERIE A */
  .sectionmain-seriea {
    height: auto;
    background-image: url(/img/Backgrounds/background\ serie\ a.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .seccion-equipos-seriea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
  }
  
  .secciontitulos-seriea {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  .equipo-seriea {
    width: 300px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 20px;
  }
  
  .equipos-seriea {
    width: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .equipos-seriea img {
    width: 100%;
  }
  
  /* IMAGENES LOGOS SERIE A*/
  .imagen-equipo-seriea .logos-equipos-inter {
    background-color: rgb(0, 0, 255);
  }
  
  .imagen-equipo-seriea .logos-equipos-milan {
    background-color: rgb(241, 0, 0);
  }
  
  .imagen-equipo-seriea .logos-equipos-juventus {
    background-color: rgb(73, 68, 68);
  }
  
  .imagen-equipo-seriea .logos-equipos-lecce {
    background-color: rgb(67, 116, 180);
  }
  
  .imagen-equipo-seriea .logos-equipos-atalanta {
    background-color: rgb(0, 0, 0);
  }
  
  .imagen-equipo-seriea .logos-equipos-napoli {
    background-color: rgb(43, 145, 240);
  }
  
  .imagen-equipo-seriea .logos-equipos-verona {
    background-color: rgb(0, 0, 0);
  }
  
  .imagen-equipo-seriea .logos-equipos-fioren {
    background-color: rgb(112, 29, 112);
  }
  
  .imagen-equipo-seriea .logos-equipos-bolonia {
    background-color: rgb(207, 2, 2);
  }
  
  .imagen-equipo-seriea .logos-equipos-frosino {
    background-color: rgb(91, 91, 204);
  }
  
  .imagen-equipo-seriea .logos-equipos-torino {
    background-color: rgb(116, 5, 5);
  }
  
  .imagen-equipo-seriea .logos-equipos-lazio {
    background-color: rgb(141, 214, 214);
  }
  
  .imagen-equipo-seriea .logos-equipos-sassuo {
    background-color: rgb(8, 97, 8);
  }
  
  .imagen-equipo-seriea .logos-equipos-genoa {
    background-color: rgb(245, 63, 63);
  }
  
  .imagen-equipo-seriea .logos-equipos-monza {
    background-color: rgb(216, 6, 6);
  }
  
  .imagen-equipo-seriea .logos-equipos-salerni {
    background-color: rgb(88, 3, 3);
  }
  
  .imagen-equipo-seriea .logos-equipos-udinese {
    background-color: rgb(41, 29, 29);
  }
  
  .imagen-equipo-seriea .logos-equipos-roma {
    background-color: rgb(99, 42, 42);
  }
  
  .imagen-equipo-seriea .logos-equipos-caglia {
    background-color: rgb(45, 45, 134);
  }
  
  .imagen-equipo-seriea .logos-equipos-empoli {
    background-color: rgb(112, 202, 231);
  }
  
  .texto-equipo-seriea {
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
  }
  
  /* CUARTA PAGINA LA LIGA */
  .sectionmain-laliga {
    height: auto;
    background-image: url(/img/Backgrounds/background\ laliga.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  
  .seccion-equipos-laliga {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100%;
  }
  
  .secciontitulos-laliga {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  .equipo-laliga {
    width: 300px;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 20px;
  }
  
  .equipos-laliga {
    width: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .equipos-laliga img {
    width: 100%;
    background-color: rgb(173, 173, 173);
  }
  
  /* IMAGENES LOGOS LA LIGA */
  .imagen-equipo-laliga .logos-equipos-madrid {
    background-color: rgb(219, 218, 218);
  }
  
  .imagen-equipo-laliga .logos-equipos-girona {
    background-color: rgb(199, 165, 72);
  }
  
  .imagen-equipo-laliga .logos-equipos-barcelona {
    background-color: rgb(83, 22, 22);
  }
  
  .imagen-equipo-laliga .logos-equipos-atlmadrid {
    background-color: rgb(255, 61, 61);
  }
  
  .imagen-equipo-laliga .logos-equipos-atlbilbao {
    background-color: rgb(34, 4, 4);
  }
  
  .imagen-equipo-laliga .logos-equipos-cadiz {
    background-color: rgb(255, 255, 0);
  }
  
  .imagen-equipo-laliga .logos-equipos-betis {
    background-color: rgb(9, 185, 9);
  }
  
  .imagen-equipo-laliga .logos-equipos-sociedad {
    background-color: rgb(0, 78, 247);
  }
  
  .imagen-equipo-laliga .logos-equipos-osasuna {
    background-color: rgb(145, 0, 0);
  }
  
  .imagen-equipo-laliga .logos-equipos-alaves {
    background-color: rgb(84, 84, 247);
  }
  
  .imagen-equipo-laliga .logos-equipos-valencia {
    background-color: rgb(238, 98, 5);
  }
  
  .imagen-equipo-laliga .logos-equipos-rayo {
    background-color: rgb(241, 107, 107);
  }
  
  .imagen-equipo-laliga .logos-equipos-celta {
    background-color: rgb(93, 180, 202);
  }
  
  .imagen-equipo-laliga .logos-equipos-getafe {
    background-color: rgb(33, 33, 238);
  }
  
  .imagen-equipo-laliga .logos-equipos-villarreal {
    background-color: rgb(243, 243, 5);
  }
  
  .imagen-equipo-laliga .logos-equipos-granada {
    background-color: rgb(255, 49, 49);
  }
  
  .imagen-equipo-laliga .logos-equipos-mallo {
    background-color: rgb(226, 63, 4);
  }
  
  .imagen-equipo-laliga .logos-equipos-palmas {
    background-color: rgb(248, 248, 0);
  }
  
  .imagen-equipo-laliga .logos-equipos-almeria {
    background-color: rgb(236, 92, 92);
  }
  
  .imagen-equipo-laliga .logos-equipos-sevilla {
    background-color: rgb(196, 46, 0);
  }
  
  .texto-equipo-laliga {
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: white;
  }
  
  