$colores: (
    celeste: rgb(0, 255, 255),
    gris: rgb(169, 168, 168),
    rojo: rgb(255, 1, 1),
    violeta: rgb(112, 2, 112),
    azul-gris: rgb(66, 66, 181),
    azul: rgb(0, 0, 255),
    marron: rgb(95, 21, 21),
    amarillo-ocre: rgb(173, 128, 15),
    verde-oscuro: rgb(31, 80, 31),
    cyan-oscuro: rgb(34, 95, 95),
    rojo-gris: rgb(73, 33, 28),
    verde-aqua: rgb(7, 110, 110),
    rosa: rgb(253, 138, 138),
    verde: rgb(59, 143, 59),
    piel: rgb(247, 197, 197),
    amarillo: rgb(255, 255, 70),
    celeste-claro: rgb(156, 255, 255),
    azul-oscuro: rgb(30, 30, 76),
    marron-clarito: rgb(88, 53, 0),
    naranja: rgb(255, 166, 0),
);

$colores-seriea: (
    8: rgb(80, 80, 80),
    7: rgb(114, 10, 10),
    6: rgb(6, 6, 245),
    5: rgb(239, 46, 46),
    4: rgb(128, 0, 0),
    3: rgb(83, 83, 240),
    2: rgb(161, 157, 157),
    1: rgb(105, 153, 241),
);

$imagenes-seriea: (
    8:"../img/maximos-ganadores-seriea/imagen-1.webp",
    7:"../img/maximos-ganadores-seriea/imagen-2.webp",
    6:"../img/maximos-ganadores-seriea/imagen-3.webp",
    5:"../img/maximos-ganadores-seriea/imagen-4.webp",
    4:"../img/maximos-ganadores-seriea/imagen-5.webp",
    3:"../img/maximos-ganadores-seriea/imagen-6.webp",
    2:"../img/maximos-ganadores-seriea/imagen-7.webp",
    1:"../img/maximos-ganadores-seriea/imagen-8.webp",
);