footer{
    .footer {
        background-color: rgb(50, 49, 49);
        align-items: center;
        padding: 10px;
        justify-content: space-between;
        .footer-copyright {
            color: rgb(255, 255, 255);
            font-size: 14px;
            margin: 0px;
            @extend %flex-center;
        }
        .footer-icon {
            @extend %flex-center;
            margin: 0px;
            padding: 0px;
            .footer-icon-img {
                width: 80px;
            }
        }
        .footer-social {  /* SECCION LINKS DE REDES*/
            margin: 0px;
            padding: 0px;
            @extend %flex-center;
            .footer-social-link {
                @extend %flex-center;
                margin: 0px;
                margin-left: 60px;
                width: 40px;
                .bi-facebook{
                    width: 30px;
                    height: 30px;
                }
                .bi-instagram{
                    width: 30px;
                    height: 30px;
                }
                .bi-twitter{
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
