header{
    .custom-header{
        background-color: #4a8c9c;
        .logo{
            padding-left: 20px;
            height: 80px
        }
        .menu{
            .nav-link {
                color: black;
                font-size: 20px;
                margin-left: 30px;
                font-family: coolvetica rg ;
                &:hover{
                    color: rgb(207, 130, 14);
                }
            }
        }
    }
}