main{
    .sectionmain-copadelaliga {
        background-image: url(../img/Backgrounds/backgroundcopadelaliga.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        .video-copadelaliga{
            @extend %flex-center;
            flex-direction: column;
            .titulo-copadelaliga{
                padding-top: 20px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                -webkit-text-stroke: 1px white;
            }
            .parrafo-videocopadelaliga{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
                width: 50%;
                font-weight: 800;
                padding-top: 20px;
            }
            .video-yt-copadelaliga{
                height: 600px;
                width: 70%;
                border-radius: 60px;
                padding-bottom: 20px;
            }
        }
        .titulos-goleadores-historicos-lfp{
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            @extend %flex-center;
            padding-top: 20px;
            padding-bottom: 30px;
            -webkit-text-stroke: 1px white;
        }
        .goleadores-historicos-lfp{
            @extend %flex-center;
            .titulo-parrafo-lfp{
                flex-direction: column;
                @extend %flex-center;
                width: 50%;
                .nombre-goleadores-historicos-lfp{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
                .parrafo-goleadores-historicos-lfp{
                    text-align: center;
                    width: 75%;
                    font-weight: 800;
                    padding-top: 20px;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    text-align: justify;
                }
            }
            .fotos-goleadores-historicos-lfp{
                width: 30%;
                padding-bottom: 30px;
            }
        }
        .secciontitulos {
            @extend %flex-center;
            flex-direction: column;
            padding-top: 30px;
            -webkit-text-stroke: 1px white;
            .h1-copadelaliga {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
            .h2-copadelaliga {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
        .seccion-equipos {
            @extend %flex-center;
            flex-wrap: wrap;
            padding-top: 20px;
            .equipos {
                width: 100%;
                @extend %flex-center;
                flex-wrap: wrap;
                img{
                    width: 100%;
                }
                .equipo {
                    width: 400px;
                    box-shadow: 0 0 20px rgb(0, 0, 0);
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                    border: 2px solid black;
                    margin: 20px;
                    .imagen-equipo{
                        .logos-equipos-talleres{
                            background-color: map-get($colores, gris);
                        }
                        .logos-equipos-huracan {
                            background-color: map-get($colores, rosa);
                        }
                        .logos-equipos-banfield {
                            background-color: map-get($colores, verde);
                        }
                        .logos-equipos-colon {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-velez {
                            background-color: map-get($colores, azul-gris);
                        }
                        .logos-equipos-indep {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-argj {
                            background-color: map-get($colores, rosa);
                        }
                        .logos-equipos-instituto {
                            background-color: map-get($colores, piel);
                        }
                        .logos-equipos-rosario {
                            background-color: map-get($colores, amarillo);
                        }
                        .logos-equipos-river {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-tucuman {
                            background-color: map-get($colores, celeste-claro);
                        }
                        .logos-equipos-sarandi {
                            background-color: map-get($colores, azul-gris);
                        }
                        .logos-equipos-barracas {
                            background-color: map-get($colores, rosa);
                        }
                        .logos-equipos-gim {
                            background-color: map-get($colores, azul);
                        }
                        .logos-equipos-newe {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-sarmiento {
                            background-color: map-get($colores, verde);
                        }
                        .logos-equipos-racing {
                            background-color: map-get($colores, celeste);
                        }
                        .logos-equipos-union {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-belgr {
                            background-color: map-get($colores, celeste-claro);
                        }
                        .logos-equipos-godoy {
                            background-color: map-get($colores, azul-gris);
                        }
                        .logos-equipos-sanlo {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-boca {
                            background-color: map-get($colores, azul);
                        }
                        .logos-equipos-defensa {
                            background-color: map-get($colores, verde);
                        }
                        .logos-equipos-ccordoba {
                            background-color: map-get($colores, azul-oscuro);
                        }
                        .logos-equipos-tigre {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-lanus {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-platense {
                            background-color: map-get($colores, marron-clarito);
                        }
                        .logos-equipos-est {
                            background-color: map-get($colores, piel);
                        }
                    }
                    .texto-equipo {
                        margin-top: 10px;
                        text-align: center;
                        border: 1px solid rgb(255, 255, 255);
                        background-color: rgb(255, 255, 255);
                        .ganados-hover{
                            &:hover{
                                color: rgb(9, 235, 9);
                            }
                        }
                        .empatados-hover{
                            &:hover{
                                color: orange;
                            }
                        }
                        .perdidos-hover{
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
            .grupo-b {
                @extend %flex-center;
                .h2-grupob{
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    -webkit-text-stroke: 1px white;
                }
            }
        }
    }
}