main{
    .sectionmain-premierleague {
        background-image: url(../img/Backgrounds/background\ premier\ league.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        .video-premierleague {
            @extend %flex-center;
            flex-direction: column;
            .titulo-videopremierleague {
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                padding-top: 20px;
            }
            .parrafo-videopremierleague {
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                text-align: center;
                width: 50%;
                font-weight: 800;
                padding-top: 20px;
            }
            .video-yt-premier {
                height: 500px;
                width: 55%;
                border-radius: 60px;
                padding-bottom: 20px;
            }
        }
        .goleadores-premier-h1 {
            display: flex;
            justify-content: center;
            padding-top: 100px;
            padding-bottom: 30px;
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        }
        .mejores-goleadores-premier {
            @extend %flex-center;
            text-align: center;
            .cartas-goleadores-premier {
                @extend %flex-center;
                .grid-goleadores {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, auto);
                    gap: 10px;
                    .cartas-goleadores {
                        width: 220px;
                        height: auto;
                        background-color: #ffffff;
                        margin: 5px;
                        border-radius: 50px;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
                        position: relative;
                        &:hover {
                            .texto-goleadores {
                                opacity: 1;
                            }
                        }
                        .foto-goleadores {
                            border-radius: 50px;
                            max-width: 100%;
                            height: 100%;
                            filter: blur(0);
                            transition: filter 0.3s ease-in-out;
                        }
                        &:hover {
                            .foto-goleadores {
                                filter: blur(4px);
                            }
                            transform: scale(1.05);
                        }
                        .texto-goleadores {
                            position: absolute;
                            font-weight: 800;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 12px;
                            color: #ffffff;
                            padding: 10px;
                            border-radius: 5px;
                            width: 80%;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
        .h1-premierleague-anual {
            padding-top: 30px;
            @extend %flex-center;
            font-size: 40px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        .seccion-equipos-premierleague {
            @extend %flex-center;
            padding-top: 20px;
            .equipos-premier {
                width: 80%;
                @extend %flex-center;
                flex-wrap: wrap;
                img{
                    width: 100%;
                }
                .equipo {
                    width: 300px;
                    box-shadow: 0 0 20px rgb(0, 0, 0);
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                    border: 2px solid black;
                    margin: 20px;
                    .imagen-equipo{
                        .logos-equipos-city {
                            background-color: map-get($colores, celeste);
                        }
                        .logos-equipos-totten {
                            background-color: map-get($colores, gris);
                        }
                        .logos-equipos-liverpool {
                            background-color: map-get($colores, rojo)
                        }
                        .logos-equipos-westham {
                            background-color: map-get($colores, violeta)
                        }
                        .logos-equipos-arsenal {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-brighton {
                            background-color: map-get($colores, azul-gris)
                        }
                        .logos-equipos-crys {
                            background-color: map-get($colores, azul);
                        }
                        .logos-equipos-brent {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-notti {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-aston {
                            background-color: map-get($colores, rojo-gris);
                        }
                        .logos-equipos-manu {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-chelsea {
                            background-color: map-get($colores, azul);
                        }
                        .logos-equipos-full {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-new {
                            background-color: map-get($colores, gris);
                        }
                        .logos-equipos-wolves {
                            background-color: map-get($colores, amarillo-ocre);
                        }
                        .logos-equipos-bourn {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-sheff {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-everton {
                            background-color: map-get($colores, azul-gris);
                        }
                        .logos-equipos-luton {
                            background-color: map-get($colores, verde-oscuro);
                        }
                        .logos-equipos-burnley {
                            background-color: map-get($colores, verde-aqua);
                        }
                    }
                    .texto-equipo {
                        margin-top: 10px;
                        text-align: center;
                        border: 1px solid rgb(255, 255, 255);
                        background-color: rgb(255, 255, 255);
                        .ganados-hover{
                            &:hover{
                                color: rgb(9, 235, 9);
                            }
                        }
                        .empatados-hover{
                            &:hover{
                                color: orange;
                            }
                        }
                        .perdidos-hover{
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}