main{
    .sectionmain-premierleague {
        background-image: url(../img/Backgrounds/background\ premier\ league.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        .secciontitulos-premierleague {
            @extend %flex-center;
            padding-top: 10px;
            .h1-premierleague {
                font-size: 30px;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }
        }
        .seccion-equipos-premierleague {
            @extend %flex-center;
            padding-top: 20px;
            .equipos-premier {
                width: 100%;
                @extend %flex-center;
                flex-wrap: wrap;
                img{
                    width: 100%;
                }
                .equipo {
                    width: 300px;
                    box-shadow: 0 0 20px rgb(0, 0, 0);
                    border-radius: 5px;
                    background-color: rgb(255, 255, 255);
                    border: 2px solid black;
                    margin: 20px;
                    .imagen-equipo{
                        .logos-equipos-city{
                            background-color: map-get($colores, celeste);
                        }
                        .logos-equipos-totten {
                            background-color: map-get($colores, gris);
                        }
                        .logos-equipos-liverpool {
                            background-color: map-get($colores, rojo)
                        }
                        .logos-equipos-westham {
                            background-color: map-get($colores, violeta)
                        }
                        .logos-equipos-arsenal {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-brighton {
                            background-color: map-get($colores, azul-gris)
                        }
                        .logos-equipos-crys {
                            background-color: map-get($colores, azul);
                        }
                        .logos-equipos-brent {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-notti {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-aston {
                            background-color: map-get($colores, rojo-gris);
                        }
                        .logos-equipos-manu {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-chelsea {
                            background-color: map-get($colores, azul);
                        }
                        .logos-equipos-full {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-new {
                            background-color: map-get($colores, gris);
                        }
                        .logos-equipos-wolves {
                            background-color: map-get($colores, amarillo-ocre);
                        }
                        .logos-equipos-bourn {
                            background-color: map-get($colores, marron);
                        }
                        .logos-equipos-sheff {
                            background-color: map-get($colores, rojo);
                        }
                        .logos-equipos-everton {
                            background-color: map-get($colores, azul-gris);
                        }
                        .logos-equipos-luton {
                            background-color: map-get($colores, verde-oscuro);
                        }
                        .logos-equipos-burnley {
                            background-color: map-get($colores, verde-aqua);
                        }
                    }
                    .texto-equipo {
                        margin-top: 10px;
                        text-align: center;
                        border: 1px solid rgb(255, 255, 255);
                        background-color: rgb(255, 255, 255);
                        .ganados-hover{
                            &:hover{
                                color: rgb(9, 235, 9);
                            }
                        }
                        .empatados-hover{
                            &:hover{
                                color: orange;
                            }
                        }
                        .perdidos-hover{
                            &:hover{
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}